<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('./includes/navigation.ejs') %>

    <h1>Some error occured</h1>
    <p>we are working on this sorry for the in convineance</p>

   <%- include('./includes/end.ejs') %>